@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.send {
  height: 597px;
  width: 353px;
  background-color: #171616;
  color: #ffffff;
  position: relative;

  .header {
    height: 40px;
    width: 353px;
    position: absolute;
    background-color: #171616;
    box-shadow: 0 1px 5px #1e1e1e;

    p {
      text-align: center;
      margin-top: 10px;
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 0.5px;
    }
  }

  .center {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    width: 100%;
    gap: 40px;

    .from,
    .to {
      margin-bottom: 20px;

      p {
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 8px;
      }
    }

    .from {
      div {
        height: 40px;
        width: 100%;
        background-color: #171616;
        box-shadow: 0 1px 5px 3px #1e1e1e;
        padding: 10px;
        border-radius: 10px;
        font-size: 14px;
        line-height: 20px;
        
      }
    }

    .to {
      input {
        height: 50px;
        width: 100%;
        padding: 12px;
        background-color: #171616;
        color: #ffffff;
        font-size: 14px;
        border: 1px solid #c4a83a;
        border-radius: 10px;
        box-shadow: 0 1px 5px 3px #1e1e1e;


        &:focus {
          outline: none;
          box-shadow: 0 0 0 2px #c4a83a88;
        }
      }
    }
  }

  .footerButtons {
    position: absolute;
    top: 450px;
    left: 25px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;

    div {
      height: 50px;
      width: 300px;
      background-color: #c4a83a;
      border-radius: 20px;
      font-weight: 700;
      font-size: 18px;
      color: #1e1e1e;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease;

      &:hover {
        transform: scale(1.03);
        cursor: pointer;
        box-shadow: 0 0 10px #c4a83a88;
      }

      &:active {
        transform: scale(0.98);
      }
    }
  }
}

.copy-msg {
    position: absolute;
    bottom: 70px; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: rgba(0, 0, 0, 0.8); 
    color: #ffffff; 
    padding: 10px 20px; 
    border-radius: 8px; 
    font-size: 16px; 
    font-weight: 500; 
    z-index: 9999; 
    visibility: hidden; 
    opacity: 0; 
    transition: opacity 0.3s ease, visibility 0.3s ease; 
  }
  
  .copy-msg.show {
    visibility: visible; 
    opacity: 1; 
  }
