@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.login {
  position: relative;
  height: 597px;
  width: 353px;
  background-color: #171616;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;

  img {
    position: absolute;
    top: 40px;
    left: 40px;
  }

  div {
    position: absolute;
    background-color: #b69d3b;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    color: #1e1e1e;
    font-weight: 600;
    font-size: 16px;
  }

  .generateNew {
    bottom: 180px;
    left: 25%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
      background-color: #d7ba49;
      transform: translateY(-5px);
    }

    &:active {
      transform: translateY(2px);
    }
  }

  .importExisting {
    bottom: 250px;
    left: 25%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
      background-color: #d7ba49;
      transform: translateY(-5px);
    }

    &:active {
      transform: translateY(2px);
    }
  }
}
