* {
    user-select: none; /* Disables text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
  }

  img {
    -webkit-user-drag: none; /* Prevents dragging images */
    user-drag: none; /* Prevents dragging images */
  }